* {
    font-family: sans-serif;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    margin: 0;
    padding: 0;
}
body {
    overflow-anchor: none;
}
.wrapper {
    background-color: #FBF8EC;
    padding: 0 116px 116px 70px;
    min-height: 100vh;
}
.main {
    display: grid;
    row-gap: 120px;
}
.card-products__items {
    display: grid;
    margin-bottom: 40px;
}
.card-products__btn {
    grid-column: 12/12;
}
.content {
    display: grid;
    align-items: center;
}
.banner-hover {
    grid-column: 1/12;
}
.banner {
    grid-column: 12/12;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    column-gap: 40px;
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}



