* {
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: 'Rubik', cursive;
    font-weight: 400;
    overflow-anchor: none;
}
.wrapper {
    background-color: #FBF8EC;
    min-height: 100vh;
}
.main {
    display: grid;
    row-gap: 120px;
}
.card-products__items {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.card-products__btn {
    width: 168px;
    height: 40px;
    margin: 14px 0 0 0;
    padding: 8px;
    grid-column: 11/12;
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    border-radius: 4px;
}
.btn-text {
    flex-grow: 1;
    color: #606060;
}
.card-products__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 150%;
    letter-spacing: 2px;
    color: #414141;
}
.content {
    display: grid;
    align-items: center;
}
.item {
    width: 272px;
    height: 349px;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.item-content {
    padding: 4px 8px 8px 8px;
}
.item-name {
    padding: 4px 4px 8px 0;
    letter-spacing: 1px;
    line-height: 150%;
    color: #414141;
}
.card-name {
    letter-spacing: 0.025em;
}
.card-name__lSpace{
    letter-spacing: 0.055em;
}
.card-name__lwSpace {
    letter-spacing: 0.01em;
    word-spacing: 2px;
}
.item-btn {
    width: 256px;
    height: 40px;
    margin-top: 4px;
    border: 1px solid #70C05B;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    color: #70C05B;
    cursor: pointer;
}
.item-btn__text {

}
.banner-hover {
    grid-column: 1/12;
}
.banner {
    grid-column: 12/12;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    column-gap: 40px;
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}
.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    background-color: #CCC;
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}



