root {
    font-size: 16px;
}
* {
    font-size: 1rem;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    overflow-anchor: none;
    background-color: #FBF8EC;
}
.wrapper {
    display: grid;

    min-height: 100vh;
}
.card-products {
    margin-bottom: 108px;
}
.card-products__items {
    display: grid;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.card-products__list {
    margin: -34px 0 0 28px;
}
.card-products__btn {
    width: 168px;
    height: 40px;
    margin: 14px 0 0 0;
    padding: 8px;
    grid-column: 11/12;
    display: flex;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    border-radius: 4px;
}
.btn-text {
    flex-grow: 1;
    color: #606060;
}
.card-products__title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 150%;
    letter-spacing: 2px;
    color: #414141;
}
.title_lSpace {
    letter-spacing: 0.024em;
}
.card-products__title_lSpace {
    margin-top: 3px;
    font-size: 2.25rem;
    line-height: 150%;
    letter-spacing: 0.0199em;
}
.content {
    display: grid;
    align-items: center;
}
.item {
    width: 272px;
    height: 349px;
    background: #FFFFFF;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.item-content {
    padding: 4px 8px 8px 8px;
}
.item-name {
    padding: 4px 4px 8px 0;
    letter-spacing: 0.025em;
    line-height: 150%;
    color: #414141;
}
.card-name {
    letter-spacing: 0.0em;
}
.card-name__lSpace{
    letter-spacing: 0.0125em;
}
.item-btn {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid #70C05B;
    border-radius: 4px;
    text-align: center;
    background-color: transparent;
    color: #70C05B;
    cursor: pointer;
}
.card-products__spec {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: 50% 50%;
    column-gap: 24px;
}
.banner-hover {
    margin: -8px 0 0 -16px;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    column-gap: 40px;
}
.list-items {
    grid-template-columns: 1.1fr 1fr 1fr 1.1fr;
    grid-auto-flow: column dense;
    grid-row-gap: 13px;
    column-gap: 30px;
}
.list-item {
    display: grid;
    align-items: center;
    justify-content: space-between;
}
.list-item__text {
    font-size: 1.25rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #414141;
}
.list-item__btn {
    display: grid;
    grid-column: 4/4;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
}
.btn-img {
    padding: 0 0 0 4px;
}
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}
.tabs-section {
    margin-top: -11px;
    letter-spacing: 0.02em;
}
.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    list-style-type: none;
}
.tab {
    width: 97px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    color: #606060;
    background: #F3F2F1;
    border-radius: 4px;
    font-size: 0.75rem;
    line-height: 150%;
    text-align: center;
}

.tab.active {
    color: #FFFFFF;
    background: #70C05B;
    border-radius: 4px;
}

.tab:hover {
    background-color: #AAA;
    cursor: pointer;
}
.tab-content {
    margin: 24px 0 70px 0;
}
.tab-content__map {
    width: 100%;
    height: 354px;
    border:0;
    border-radius: 4px;
}
[class*="__container"] {
    max-width: 1207px;
    margin: 0 auto;
}

@media all and (min-width: 360px) and (max-width: 479px){
    * {
        font-size: 0.9rem;
    }
    .card-products__items {
        margin-bottom: 20px;
    }
    .card-products__btn {
        grid-column: 10/11;
        margin: 0;
    }
    .card-products {
        margin-bottom: 53px;
    }
    .card-products__title, .card-products__title_lSpace {
        font-size: 1.5rem;
    }
    .card-products__list {
        margin: -34px 0 0 12px;
    }
    .items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
        grid-gap: 20px;
    }
    .item {
        width: 97%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .item-image {
        width: 50%;
    }
    .item-image__rating {
        padding: 18px 0 0 0;
    }
    .item-btn {
        width: 63%;
        height: 29px;
    }
    .price {
        width: 63%;
    }
    .item-content {
        width: 100%;
        padding: 4px;
    }
    .list-items {
        padding: 8px;
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .item-name {
        width: 67%;
    }
    .list-item__text {
        font-size: 0.95rem;
    }
    .banner-hover {
        width: 100%;
        margin: -8px 0 0 3px;
    }
    .banner {
        width: 100%;
    }
    .tabs {
        gap: 19px;
    }
    .tab {
        width: 72px;
    }
    .tab.active {
        color: #FFFFFF;
        background: #70C05B;
        border-radius: 4px;
    }
    [class*="__container"] {
        max-width: 360px;
        margin: 0 5px;
    }
}
@media all and (min-width: 480px) and (max-width: 799px){
    * {
        font-size: 0.9rem;
    }
    .card-products__btn {
        grid-column: 8/11;
    }
    .card-products {
        margin-bottom: 53px;
    }
    .card-products__title, .card-products__title_lSpace {
        font-size: 2rem;
    }
    .items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
        grid-gap: 20px;
    }
    .item {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
    }
    .item-image {
        width: 50%;
    }
    .item-image__rating {
        padding: 18px 0 0 0;
    }
    .item-btn {
        width: 86%;
    }
    .price {
        width: 83%;
    }
    .item-content {
        width: 100%;
        padding: 4px;
    }
    .list-items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: none;
        grid-gap: 20px;
    }
    .list-item__text {
        font-size: 0.95rem;
    }
    .banner-hover {
        width: 100%;
        margin: -8px 0 0 -12px;
    }
    .banner {
        width: 100%;
    }
    .tab.active {
        color: #FFFFFF;
        background: #70C05B;
        border-radius: 4px;
    }
    [class*="__container"] {
        max-width: 480px;
        margin: 0 15px;
    }
}
@media all and (min-width: 800px)  and (max-width: 1023px) {
    .items {
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
    }
    .card-products {
        margin-bottom: 93px;
    }
    .card-products__btn {
        grid-column: 5/8;
    }
    .list-item__text {
        font-size: 0.95rem;
    }
    .banner-hover {
        width: 100%;
        margin: -8px 0 0 -12px;
    }
    .banner {
        width: 100%
    }
    .tab.active {
        color: #FFFFFF;
        background: #70C05B;
        border-radius: 4px;
    }
    [class*="__container"] {
        max-width: 800px;
        margin: 0 30px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1279px){
    .items {
        grid-gap: 8px;
    }
    .item {
        width: 240px;
    }
    .item-image {
        width: 100%;
    }
    .item-image__rating {
        padding: 24px 0 0 0;
    }
    .list-items {
        grid-row-gap: 13px;
        column-gap: 30px;
    }
    .list-item__text {
        font-size: 1rem;
    }
    .card-products__spec {
        column-gap: 3px;
    }
    .banner-hover {
        width: 100%;
        margin: -8px 0 0 -12px;
    }
    .banner {
        width: 100%;
    }
    .tab.active {
        color: #FFFFFF;
        background: #70C05B;
        border-radius: 4px;
    }
    [class*="__container"] {
        max-width: 1024px;
        margin: 0 30px;
    }
}